@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("#{$file-path}.eot");
    src: local("☺"), url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Montserrat", "../fonts/Montserrat-Medium", 500);
@include font-face("Montserrat", "../fonts/Montserrat-Regular", 400);
@include font-face("Montserrat", "../fonts/Montserrat-SemiBold", 600);
@include font-face("OpenSans", "../fonts/OpenSans-SemiBold", 600);
@include font-face("OpenSans", "../fonts/OpenSans-Bold", 700);
@include font-face("OpenSans", "../fonts/OpenSans-Regular", 400);
@include font-face("OpenSans", "../fonts/OpenSans-Medium", 500);
@include font-face("Raleway", "../fonts/Raleway-Medium", 500);
@include font-face("Raleway", "../fonts/Raleway-Regular", 400);
